* {
  padding: 0;
  margin: 0;
  font-family: arial;
  box-sizing: border-box;
}
/* NAVEBAR TAKEN ME 3 HOURS */
.navebar {
  height: 164px;
  width: 1440px;
  display: flex;
  align-items: center;
  color: rgb(223, 204, 204);
  line-height: 150%;
  font-size: 20px;
  font-weight: medium;
}
a {
  text-decoration: none;
  color: rgb(223, 204, 204);
}
#site {
  height: 30;
  width: 95px;
  position: absolute;
  left: 80px;
  top: 67px;
}
.navebar > .url {
  height: 30px;
  width: 310px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 1050px;
  top: 56;
  align-items: center;
}

#projects {
  height: 30px;
  width: 79px;
}
#about {
  height: 30px;
  width: 79px;
}
#contact {
  height: 30px;
  width: 79px;
}

.part1 {
  height: 521px;
  width: 624px;
  position: absolute;
  top: 244px;
  left: 80px;
}
#a {
  height: 77px;
  width: 624px;
  font-weight: bold;
  font-size: 64px;
  letter-spacing: -2%;
  line-height: auto;
}
#b {
  height: 36px;
  width: 624px;
  line-height: 150%;
  font-size: 24px;
  color: rgb(99, 93, 93);
  margin: 24px 0 24px 0;
}
#c {
  height: 360px;
  width: 624px;
  line-height: 150%;
  font-size: 20px;
  font-weight: medium;
}
#part2 {
  height: 657px;
  width: 508px;
  position: absolute;
  top: 244px;
  left: 847px;

  background-image: url("pic1.jpg");
  background-size: cover;
  border-radius: 2%;
}
/* footer did not take much time */
.foot {
  height: 264px;
  width: 1440px;
  position: absolute;
  top: 1021px;
}
#foot1 {
  height: 36px;
  width: 113px;
  position: absolute;
  top: 52px;
  left: 80px;
  font-size: 24px;
  line-height: 150%;
}
#foot2 {
  height: 40px;
  width: 184px;
  position: absolute;
  top: 176px;
  left: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
#foot3 {
  height: 168px;
  width: 187px;
  position: absolute;
  top: 48px;
  left: 736px;
  font-size: 16px;
  line-height: 150%;

  font-weight: medium;
}
#foot4 {
  height: 168px;
  width: 187px;
  position: absolute;
  top: 48px;
  left: 955px;
  font-size: 16px;
  line-height: 150%;

  font-weight: medium;
}
#foot5 {
  height: 168px;
  width: 187px;
  position: absolute;
  top: 48px;
  left: 1173px;
  font-size: 16px;
  line-height: 150%;

  font-weight: medium;
}
ul > p {
  margin-top: 12px;
}
